{% extends 'layouts/app.twig' %} {% block title %} Home {% endblock %} {% block
sidenav %}
<div>
  <li class="" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
    <a class="link" href="{{ base_url() }}/">
      <i class="bx bx-home-alt icon"></i>
      <span class="text nav-text">Dashboard</span>
    </a>
  </li>
  <li class="active" data-bs-toggle="tooltip" data-bs-placement="right" title="Tools">
    <a class="link" href="{{ base_url() }}/test">
        <i class='bx bxs-widget icon'></i>
      <span class="text nav-text">Tools</span>
    </a>
  </li>
</div>
{% endblock %} {% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>
  <div style="background-color: white; border-radius: 10px;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
  </div>
{% endblock %}
