{% extends 'layouts/app.twig' %} {% block title %} Home {% endblock %} {% block
sidenav %}
<div>
  <li class="active" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
    <a class="link" href="{{ base_url() }}/">
      <i class="bx bx-home-alt icon"></i>
      <span class="text nav-text">Dashboard</span>
    </a>
  </li>
  <li class="" data-bs-toggle="tooltip" data-bs-placement="right" title="Tools">
    <a class="link" href="{{ base_url() }}/test">
        <i class='bx bxs-widget icon'></i>
      <span class="text nav-text">Tools</span>
    </a>
  </li>
</div>
{% endblock %} {% block content %}

{% endblock %}
